In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import pandas_datareader.data as web
import time
import tensorflow
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import logging
import math
import os
from sklearn.preprocessing import MinMaxScaler
from keras.utils import np_utils
import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Activation
from keras import optimizers
from sklearn.metrics import mean_squared_error
from keras.models import load_model

Using TensorFlow backend.

In [2]:
np.random.seed(8)

# 자료 불러오기

In [3]:
finance_info = pd.read_excel('./data/10년치_재무_LSTM_비율.xlsx')
stock_info = pd.read_excel('./data/10년치_주가_LSTM_비율.xlsx')

# 재무정보 파악

In [4]:
finance_info = finance_info.loc[:,:'*희석주당순손익(요약)(3개월)(IFRS연결)(원)']

In [5]:
finance_info['거래년도'] = finance_info['회계년도'].str.split('/',1).str[0]
finance_info['거래월'] = finance_info['회계년도'].str.split('/',1).str[1]

In [6]:
finance_info.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(요약)(IFRS연결)(백만원)',
       '자본(*)(요약)(IFRS연결)(백만원)', '자본금(요약)(IFRS연결)(백만원)',
       '신종자본증권(요약)(IFRS연결)(백만원)', '자본잉여금(요약)(IFRS연결)(백만원)',
       '기타자본(요약)(IFRS연결)(백만원)', '기타포괄손익누계액(요약)(IFRS연결)(백만원)',
       '이익잉여금(결손금)(요약)(IFRS연결)(백만원)', '부채(*)(요약)(IFRS연결)(백만원)',
       '판매비와 관리비(물류원가 등 포함)(요약)(3개월)(IFRS연결)(백만원)',
       '* (정상)영업손익(보고서기재)(요약)(3개월)(IFRS연결)(백만원)',
       '* (정상)영업손익(계산수치)(요약)(3개월)(IFRS연결)(백만원)', '기타이익(요약)(3개월)(IFRS연결)(백만원)',
       '기타손실(요약)(3개월)(IFRS연결)(백만원)', '법인세비용차감전순이익(손실)(요약)(3개월)(IFRS연결)(백만원)',
       '법인세비용(요약)(3개월)(IFRS연결)(백만원)', '종속회사 매수일전 순손익(요약)(3개월)(IFRS연결)(백만원)',
       '처분된 종속회사 순손익(요약)(3개월)(IFRS연결)(백만원)',
       '계속영업이익(손실)(요약)(3개월)(IFRS연결)(백만원)', '중단영업이익(손실)(요약)(3개월)(IFRS연결)(백만원)',
       '*중단영업손익 법인세효과(요약)(3개월)(IFRS연결)(백만원)',
       '당기순이익(손실)(요약)(3개월)(IFRS연결)(백만원)', '기타포괄손익(요약)(3개월)(IFRS연결)(백만원)',
       '총포괄손익(요약)(3개월)(IFRS연결)(백만원)', '*주당계속영업이익(요약)(3개월)(IFRS연결)(원)',
       '*주당순손익(요약)(3개월)(IFRS연결)(원)', '*희석주당계속영업이익(요약)(3개월)(IFRS연결)(원)',
       '*희석주당순손익(요약)(3개월)(IFRS연결)(원)', '거래년도', '거래월'],
      dtype='object')

In [7]:
finance_info.columns = ['회사명', '거래소코드', '회계년도', '자산(백만원)', '자본(백만원)', 
                             '자본금(백만원)', '신종자본증권(백만원)', '자본잉여금(백만원)', '기타자본(백만원)',
                             '기타포괄손익누계액(백만원)','이익잉여금(백만원)', '부채(백만원)', '판매비와 관리비(백만원)',
                             '영업손익(보고서기재)(백만원)', '영업손익(계산수치)(백만원)', '기타이익(백만원)','기타손실(백만원)',
                             '법인세비용차감전순이익(백만원)', '법인세비용(백만원)', '종속회사 매수일전 순손익(백만원)',
                             '처분된 종속회사 순손익(백만원)', '계속영업이익(손실)(백만원)','중단영업이익(손실)(백만원)',
                             '중단영업손익 법인세효과(백만원)', '당기순이익(손실)(백만원)', '기타포괄손익(백만원)','총포괄손익(백만원)',
                             '주당계속영업이익(원)','주당순손익(원)', '희석주당계속영업이익(원)','희석주당순손익(원)', '거래년도', '거래월']

In [8]:
finance_info = finance_info[['회사명', '거래소코드', '회계년도', '거래년도', '거래월', '자산(백만원)', '자본(백만원)', 
                             '자본금(백만원)', '신종자본증권(백만원)', '자본잉여금(백만원)', '기타자본(백만원)',
                             '기타포괄손익누계액(백만원)','이익잉여금(백만원)', '부채(백만원)', '판매비와 관리비(백만원)',
                             '영업손익(보고서기재)(백만원)', '영업손익(계산수치)(백만원)', '기타이익(백만원)','기타손실(백만원)',
                             '법인세비용차감전순이익(백만원)', '법인세비용(백만원)', '종속회사 매수일전 순손익(백만원)',
                             '처분된 종속회사 순손익(백만원)', '계속영업이익(손실)(백만원)','중단영업이익(손실)(백만원)',
                             '중단영업손익 법인세효과(백만원)', '당기순이익(손실)(백만원)', '기타포괄손익(백만원)','총포괄손익(백만원)',
                             '주당계속영업이익(원)','주당순손익(원)', '희석주당계속영업이익(원)','희석주당순손익(원)']]

In [9]:
finance_info['거래년도'] = pd.to_numeric(finance_info['거래년도']).astype(np.float64)
finance_info['거래월'] = pd.to_numeric(finance_info['거래월']).astype(np.float64)

In [10]:
finance_info.head(2)

,회사명,거래소코드,회계년도,거래년도,거래월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),...,계속영업이익(손실)(백만원),중단영업이익(손실)(백만원),중단영업손익 법인세효과(백만원),당기순이익(손실)(백만원),기타포괄손익(백만원),총포괄손익(백만원),주당계속영업이익(원),주당순손익(원),희석주당계속영업이익(원),희석주당순손익(원)
0,(주)BNK금융지주,138930,2011/12,2011.0,12.0,39358673.0,2954947.0,966899.0,0.0,46405.0,...,79264.0,0.0,0.0,79264.0,7371.0,86635.0,407.0,407.0,0.0,0.0
1,(주)BNK금융지주,138930,2012/12,2012.0,12.0,42891404.0,3255216.0,966899.0,0.0,46405.0,...,52065.0,0.0,0.0,52065.0,-8326.0,43740.0,270.0,270.0,0.0,0.0

# 주가정보 파악

In [11]:
stock_info.columns = ['회사명', '거래소코드', '회계년도', '거래년도', '거래월', '거래일수', '최고가(원)', '최저가(원)',
       '산술평균(원)', '종가(원)', '거래량(주)', '거래대금(원)']

In [12]:
stock_info.head(2)

,회사명,거래소코드,회계년도,거래년도,거래월,거래일수,최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
0,(주)BNK금융지주,138930,2011/03,2011.0,3.0,2.0,15950.0,14900.0,15800.0,15900.0,3846397.0,5.972707e+08
1,(주)BNK금융지주,138930,2011/06,2011.0,6.0,21.0,16000.0,13900.0,14881.0,15100.0,15349506.0,2.281128e+09

In [13]:
#del stock_info['산술평균(원)']
del stock_info['거래일수']

In [14]:
stock_info.head(10)

,회사명,거래소코드,회계년도,거래년도,거래월,최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
0,(주)BNK금융지주,138930,2011/03,2011.0,3.0,15950.0,14900.0,15800.0,15900.0,3846397.0,5.972707e+08
1,(주)BNK금융지주,138930,2011/06,2011.0,6.0,16000.0,13900.0,14881.0,15100.0,15349506.0,2.281128e+09
2,(주)BNK금융지주,138930,2011/09,2011.0,9.0,14350.0,11850.0,13035.0,13150.0,19843801.0,2.583716e+09
3,(주)BNK금융지주,138930,2011/12,2011.0,12.0,11950.0,10300.0,11126.0,11050.0,16665990.0,1.857773e+09
4,(주)BNK금융지주,138930,2012/03,2012.0,3.0,14850.0,13050.0,14052.0,13300.0,14370897.0,2.005390e+09
5,(주)BNK금융지주,138930,2012/06,2012.0,6.0,13050.0,11300.0,12198.0,12650.0,10799735.0,1.314425e+09
6,(주)BNK금융지주,138930,2012/09,2012.0,9.0,12850.0,11250.0,12033.0,12000.0,13859498.0,1.666625e+09
7,(주)BNK금융지주,138930,2012/12,2012.0,12.0,13900.0,11900.0,12900.0,13200.0,9487437.0,1.226757e+09
8,(주)BNK금융지주,138930,2013/03,2013.0,3.0,16900.0,14750.0,15400.0,15300.0,13476686.0,2.074446e+09
9,(주)BNK금융지주,138930,2013/06,2013.0,6.0,16200.0,13150.0,14616.0,14450.0,13221673.0,1.916348e+09

In [15]:
# 열 순서 바꿀때
# stock_info = stock_info[['회사명',  '거래소코드', '거래년월','year', 'month', '최고가(원)', '최저가(원)', '산술평균(원)', '종가(원)',
#        '거래량(주)', '거래대금(원)']]

In [16]:
finance_info.head(2)

,회사명,거래소코드,회계년도,거래년도,거래월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),...,계속영업이익(손실)(백만원),중단영업이익(손실)(백만원),중단영업손익 법인세효과(백만원),당기순이익(손실)(백만원),기타포괄손익(백만원),총포괄손익(백만원),주당계속영업이익(원),주당순손익(원),희석주당계속영업이익(원),희석주당순손익(원)
0,(주)BNK금융지주,138930,2011/12,2011.0,12.0,39358673.0,2954947.0,966899.0,0.0,46405.0,...,79264.0,0.0,0.0,79264.0,7371.0,86635.0,407.0,407.0,0.0,0.0
1,(주)BNK금융지주,138930,2012/12,2012.0,12.0,42891404.0,3255216.0,966899.0,0.0,46405.0,...,52065.0,0.0,0.0,52065.0,-8326.0,43740.0,270.0,270.0,0.0,0.0

# 재무정보, 주가정보 merge

In [17]:
lstm_data = pd.merge(finance_info, stock_info, on = ['회사명','거래소코드','회계년도','거래년도','거래월'],how='inner')

In [18]:
lstm_data.head(2)

,회사명,거래소코드,회계년도,거래년도,거래월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),...,주당계속영업이익(원),주당순손익(원),희석주당계속영업이익(원),희석주당순손익(원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
0,(주)BNK금융지주,138930,2011/12,2011.0,12.0,39358673.0,2954947.0,966899.0,0.0,46405.0,...,407.0,407.0,0.0,0.0,11950.0,10300.0,11126.0,11050.0,16665990.0,1.857773e+09
1,(주)BNK금융지주,138930,2012/12,2012.0,12.0,42891404.0,3255216.0,966899.0,0.0,46405.0,...,270.0,270.0,0.0,0.0,13900.0,11900.0,12900.0,13200.0,9487437.0,1.226757e+09

In [19]:
lstm_data.isna().sum()

회사명                      0
거래소코드                    0
회계년도                     0
거래년도                     0
거래월                      0
자산(백만원)               2476
자본(백만원)               2476
자본금(백만원)              2476
신종자본증권(백만원)           3044
자본잉여금(백만원)            2476
기타자본(백만원)             2476
기타포괄손익누계액(백만원)        2476
이익잉여금(백만원)            2476
부채(백만원)               2476
판매비와 관리비(백만원)         3034
영업손익(보고서기재)(백만원)      2939
영업손익(계산수치)(백만원)       3263
기타이익(백만원)             2939
기타손실(백만원)             2939
법인세비용차감전순이익(백만원)      2939
법인세비용(백만원)            2939
종속회사 매수일전 순손익(백만원)    2939
처분된 종속회사 순손익(백만원)     2939
계속영업이익(손실)(백만원)       2939
중단영업이익(손실)(백만원)       2939
중단영업손익 법인세효과(백만원)     2939
당기순이익(손실)(백만원)        2939
기타포괄손익(백만원)           2939
총포괄손익(백만원)            2939
주당계속영업이익(원)           2939
주당순손익(원)              2939
희석주당계속영업이익(원)         2939
희석주당순손익(원)            2939
최고가(원)                   0
최저가(원)                   0
산술평균(원)                  0
종가(원)                    0
거래량(주)                   0
거래대금(원)                  0
dtype: int64

# 필요없는 열 제거

In [20]:
pd.DataFrame(lstm_data.columns)

                     0
0                  회사명
1                거래소코드
2                 회계년도
3                 거래년도
4                  거래월
5              자산(백만원)
6              자본(백만원)
7             자본금(백만원)
8          신종자본증권(백만원)
9           자본잉여금(백만원)
10           기타자본(백만원)
11      기타포괄손익누계액(백만원)
12          이익잉여금(백만원)
13             부채(백만원)
14       판매비와 관리비(백만원)
15    영업손익(보고서기재)(백만원)
16     영업손익(계산수치)(백만원)
17           기타이익(백만원)
18           기타손실(백만원)
19    법인세비용차감전순이익(백만원)
20          법인세비용(백만원)
21  종속회사 매수일전 순손익(백만원)
22   처분된 종속회사 순손익(백만원)
23     계속영업이익(손실)(백만원)
24     중단영업이익(손실)(백만원)
25   중단영업손익 법인세효과(백만원)
26      당기순이익(손실)(백만원)
27         기타포괄손익(백만원)
28          총포괄손익(백만원)
29         주당계속영업이익(원)
30            주당순손익(원)
31       희석주당계속영업이익(원)
32          희석주당순손익(원)
33              최고가(원)
34              최저가(원)
35             산술평균(원)
36               종가(원)
37              거래량(주)
38             거래대금(원)

In [21]:
# 7 8 9 10 16 18 21 22 24 25 29 30 31 32 행 제거


lstm_data = lstm_data.drop('자본금(백만원)',1) # 7
lstm_data = lstm_data.drop('신종자본증권(백만원)',1) # 8
lstm_data = lstm_data.drop('자본잉여금(백만원)',1) # 9
lstm_data = lstm_data.drop('기타자본(백만원)',1) # 10
lstm_data = lstm_data.drop('영업손익(계산수치)(백만원)',1) # 16 십육
lstm_data = lstm_data.drop('기타손실(백만원)',1) # 18 십팔
lstm_data = lstm_data.drop('종속회사 매수일전 순손익(백만원)',1) # 21
lstm_data = lstm_data.drop('처분된 종속회사 순손익(백만원)',1) # 22
lstm_data = lstm_data.drop('중단영업이익(손실)(백만원)',1) # 24
lstm_data = lstm_data.drop('중단영업손익 법인세효과(백만원)',1) # 25
lstm_data = lstm_data.drop('주당계속영업이익(원)',1) # 29
lstm_data = lstm_data.drop('주당순손익(원)',1) # 30
lstm_data = lstm_data.drop('희석주당계속영업이익(원)',1) # 31
lstm_data = lstm_data.drop('희석주당순손익(원)',1) # 32

## 회사별로 리스트에 담음

In [22]:
list_company = list(set(lstm_data['회사명']))

In [23]:
list_company_stock = []
for i in range(len(list_company)):
    temp = lstm_data[lstm_data['회사명'] == list_company[i]]
    temp = temp.sort_values('회계년도', ascending = True)
    list_company_stock.append(temp)

In [24]:
len(list_company_stock)

197

In [25]:
list_company_stock[0] # 각 리스트의 길이는 대부분 44개임

,회사명,거래소코드,회계년도,거래년도,거래월,자산(백만원),자본(백만원),기타포괄손익누계액(백만원),이익잉여금(백만원),부채(백만원),...,계속영업이익(손실)(백만원),당기순이익(손실)(백만원),기타포괄손익(백만원),총포괄손익(백만원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
3388,일진머티리얼즈(주),20150,2011/03,2011.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22000.0,13400.0,17273.0,21000.0,35104164.0,5.923974e+09
7133,일진머티리얼즈(주),20150,2011/09,2011.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18950.0,10800.0,14855.0,12800.0,14053455.0,1.935793e+09
1504,일진머티리얼즈(주),20150,2011/12,2011.0,12.0,442163.0,327024.0,1907.0,117410.0,115139.0,...,13541.0,13541.0,-4392.0,9149.0,20000.0,15800.0,17860.0,17000.0,5123954.0,9.316286e+08
3390,일진머티리얼즈(주),20150,2012/03,2012.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17800.0,14750.0,16526.0,16000.0,6721501.0,1.116550e+09
5257,일진머티리얼즈(주),20150,2012/06,2012.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12200.0,9840.0,10920.0,11000.0,7259233.0,7.809375e+08
7134,일진머티리얼즈(주),20150,2012/09,2012.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12500.0,10800.0,11550.0,11300.0,6750843.0,7.854589e+08
1510,일진머티리얼즈(주),20150,2012/12,2012.0,12.0,469867.0,271111.0,3747.0,58231.0,198756.0,...,-57210.0,-57210.0,1832.0,-55379.0,9250.0,7250.0,8618.0,9000.0,3080706.0,2.618065e+08
3389,일진머티리얼즈(주),20150,2013/03,2013.0,3.0,485694.0,270098.0,3719.0,56890.0,215596.0,...,-1443.0,-1443.0,-28.0,-1471.0,12000.0,8840.0,9843.0,10750.0,9804652.0,1.047743e+09
5258,일진머티리얼즈(주),20150,2013/06,2013.0,6.0,497011.0,285253.0,2865.0,52775.0,211758.0,...,-4013.0,-4013.0,-854.0,-4867.0,11500.0,8950.0,10002.0,10300.0,7707694.0,7.915580e+08
7135,일진머티리얼즈(주),20150,2013/09,2013.0,9.0,498752.0,285654.0,3251.0,53297.0,213098.0,...,108.0,108.0,385.0,493.0,16650.0,14000.0,15144.0,15700.0,12375769.0,1.899224e+09
1505,일진머티리얼즈(주),20150,2013/12,2013.0,12.0,580795.0,285430.0,2850.0,51007.0,295365.0,...,-3643.0,-3643.0,-386.0,-4029.0,11150.0,9530.0,10235.0,10650.0,5992640.0,6.182773e+08
3391,일진머티리얼즈(주),20150,2014/03,2014.0,3.0,566956.0,310264.0,3758.0,75926.0,256692.0,...,23840.0,23840.0,908.0,24748.0,13800.0,11750.0,12671.0,12300.0,9642128.0,1.235996e+09
5259,일진머티리얼즈(주),20150,2014/06,2014.0,6.0,560225.0,297426.0,-3471.0,66210.0,262800.0,...,-11104.0,-11104.0,-8626.0,-19729.0,11750.0,9230.0,10260.0,10900.0,6692628.0,7.138570e+08
7136,일진머티리얼즈(주),20150,2014/09,2014.0,9.0,560411.0,291396.0,-5406.0,63791.0,269015.0,...,-3749.0,-3749.0,-2281.0,-6030.0,11450.0,9610.0,10357.0,9690.0,3352561.0,3.491044e+08
1506,일진머티리얼즈(주),20150,2014/12,2014.0,12.0,596095.0,292686.0,1376.0,54338.0,303409.0,...,-10887.0,-10887.0,8397.0,-2490.0,8050.0,6880.0,7405.0,7140.0,2640551.0,1.939387e+08
3394,일진머티리얼즈(주),20150,2015/03,2015.0,3.0,578719.0,350468.0,1813.0,112220.0,228251.0,...,57269.0,57269.0,508.0,57777.0,9250.0,8010.0,8479.0,8660.0,3310650.0,2.821376e+08
5260,일진머티리얼즈(주),20150,2015/06,2015.0,6.0,553331.0,336054.0,2295.0,99259.0,217277.0,...,-15011.0,-15011.0,592.0,-14419.0,8300.0,6890.0,7552.0,7070.0,2104239.0,1.578061e+08
7137,일진머티리얼즈(주),20150,2015/09,2015.0,9.0,542633.0,329242.0,3056.0,93564.0,213391.0,...,-7301.0,-7301.0,489.0,-6812.0,9290.0,5950.0,6784.0,8840.0,8053845.0,6.454194e+08
1507,일진머티리얼즈(주),20150,2015/12,2015.0,12.0,436708.0,232841.0,3926.0,16336.0,203867.0,...,-98228.0,-98228.0,1858.0,-96370.0,12700.0,9170.0,11293.0,12000.0,18551369.0,2.086642e+09
3392,일진머티리얼즈(주),20150,2016/03,2016.0,3.0,372245.0,261237.0,2555.0,41051.0,111008.0,...,25211.0,25211.0,-1542.0,23669.0,13550.0,10950.0,12282.0,12750.0,11003679.0,1.376948e+09
5261,일진머티리얼즈(주),20150,2016/06,2016.0,6.0,380643.0,259859.0,2770.0,39501.0,120784.0,...,-1995.0,-1589.0,386.0,-1203.0,19950.0,16050.0,18305.0,18450.0,13216986.0,2.413880e+09
7138,일진머티리얼즈(주),20150,2016/09,2016.0,9.0,365358.0,264679.0,3434.0,43484.0,100679.0,...,4049.0,4022.0,798.0,4820.0,17900.0,15500.0,16468.0,15950.0,4181735.0,6.899228e+08
1508,일진머티리얼즈(주),20150,2016/12,2016.0,12.0,390767.0,294701.0,17775.0,55786.0,96066.0,...,12907.0,12979.0,17043.0,30021.0,14100.0,11150.0,13081.0,13950.0,5911727.0,7.755143e+08
3393,일진머티리얼즈(주),20150,2017/03,2017.0,3.0,403453.0,307284.0,21455.0,64599.0,96169.0,...,10759.0,10762.0,3905.0,14667.0,17600.0,13750.0,15679.0,16700.0,8426237.0,1.335688e+09
5262,일진머티리얼즈(주),20150,2017/06,2017.0,6.0,441146.0,331626.0,27066.0,82907.0,109521.0,...,18466.0,18459.0,5883.0,24341.0,33700.0,21900.0,26393.0,31500.0,13731743.0,3.758009e+09
7139,일진머티리얼즈(주),20150,2017/09,2017.0,9.0,657431.0,541005.0,38279.0,81874.0,116426.0,...,14529.0,14530.0,10715.0,25245.0,45100.0,33700.0,39012.0,35050.0,24981628.0,9.929371e+09
1509,일진머티리얼즈(주),20150,2017/12,2017.0,12.0,650284.0,530430.0,29387.0,95867.0,119854.0,...,-1523.0,-1561.0,-9042.0,-10602.0,40200.0,34200.0,36708.0,38300.0,8087053.0,2.986094e+09

# 주식 중에서 시계열 데이터가 부족한 자료 찾기
### 각 리스트의 길이는 대부분 44개임 => 총 128개 주식

In [26]:
list_company_stock_44 = []
for i in range(len(list_company_stock)):
    if len(list_company_stock[i]) == 44:
        list_company_stock_44.append(list_company_stock[i])


list_company_stock = list_company_stock_44 
len(list_company_stock) # 128개

128

# 128개 주식 중 na 값이 없는 주식은 총 65개

In [27]:
list_company_stock_not_na = []
for i in range(len(list_company_stock)):
    if len(list_company_stock[i].dropna(axis = 0)) == 28:
        list_company_stock_not_na.append(list_company_stock[i].dropna(axis = 0))


# list_company_stock = list_company_stock_44 
len(list_company_stock_not_na)

### 2011년 3월부터 2017년 12월까지 데이터 존재

65

# cf. 변화율말고 값으로 우선 LSTM 모델 돌려보고 그 다음에 변화율로 LSTM 모델 돌려보자

# 변화율로 바꾸자

In [28]:
list_company_stock_not_na[0].head(2)

,회사명,거래소코드,회계년도,거래년도,거래월,자산(백만원),자본(백만원),기타포괄손익누계액(백만원),이익잉여금(백만원),부채(백만원),...,계속영업이익(손실)(백만원),당기순이익(손실)(백만원),기타포괄손익(백만원),총포괄손익(백만원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
2661,LS산전(주),10120,2011/03,2011.0,3.0,1692553.0,725657.0,-348.0,594086.0,966897.0,...,22622.0,22622.0,-1345.0,21277.0,81600.0,67800.0,74823.0,81000.0,4523552.0,3.406902e+09
4535,LS산전(주),10120,2011/06,2011.0,6.0,1633896.0,738870.0,-1458.0,608741.0,895026.0,...,14506.0,14506.0,-1292.0,13214.0,80600.0,69600.0,74814.0,77000.0,2890204.0,2.157866e+09

## 비율로 바꾸는 함수: pct_change()

In [ ]:
for j in range(len(list_company_stock_not_na)):
    for i in range(len(list_company_stock_not_na[j].columns[5:])):
        list_company_stock_not_na[j][list_company_stock_not_na[j].columns[5:][i]] = list_company_stock_not_na[j][list_company_stock_not_na[j].columns[5:][i]].pct_change()
    
    # 비율로 바뀌었기에 첫 행이 NA가 되어서 이를 제거함
    list_company_stock_not_na[j] = list_company_stock_not_na[j].drop(list_company_stock_not_na[j].index[0],0)

In [ ]:
list_company_stock_not_na[0]

## 164개 주식을 가지고 LSTM 모형 만들것

In [ ]:
list_code_company_1 = []

for i in range(len(list_code_company)):
    company1 = list_code_company[i]
    company1 = company1.reset_index()
    del company1['index']
    
    stock_price_1year = list_code_company[i]['종가(원)'][4:]
    stock_price_1year = stock_price_1year.reset_index()
    del stock_price_1year['index']
    stock_price_1year.columns = ['1년뒤종가(원)']
    
    a = pd.concat([company1, stock_price_1year], axis = 1)
    a = a.loc[:15,:]
    list_code_company_1.append(a)

In [ ]:
list_code_company_1[1]

In [ ]:
test = list_code_company_1[0].loc[:,list_code_company_1[0].columns[4:]]
test.head()

# LSTM 모델 : 1개 종목

모델 개요
- 단순하게 2013년 1분기 데이터를 변수로 보고, 2014년 1분기 데이터를 예측하는 모델
- 13,14,15년은 Train
- 16은 Test  
=> 즉 16년 1분기를 보고 17년 1분기 예측

In [ ]:
'''
## import pandas as pd
import pandas_datareader.data as web
import tensorflow
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import logging
import math
import os
from sklearn.preprocessing import MinMaxScaler
import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Activation
from keras import optimizers
from sklearn.metrics import mean_squared_error
from keras.models import load_model
from keras.utils import np_utils

### 데이터 전처리 / Data Preprocessing

np.random.seed(123)
# finance_indicator = test.loc[:,"자산(백만원)":].astype(np.float) # 재부 관련 지표
# month_indicator = test.loc[:,"month"].astype(np.float) # 월 관련 지표

indicator = test.values.astype(np.float)
scaler = MinMaxScaler(feature_range=(0, 1)) # 0~1 값으로 스케일링
scaled_test = scaler.fit_transform(indicator) # 가격 관련 지표에 스케일링
#month_indicator = np_utils.to_categorical(month_indicator)

#scaler_etc = MinMaxScaler(feature_range=(-1, 1)) # 0~1 값으로 스케일링
#scaled_etc_indicator = scaler_etc.fit_transform(etc_indicator) # 추세 또는 거래량 활용 지표에 스케일링



x = scaled_test
y = x[:, [25]] # 타켓은 1년뒤 종가이다 / target is 'Close' price


# dataX와 dataY 생성 / Creating dataset 'dataX' and 'dataY'
seq_length = 4 # 4분기 데이터를 이용해 1년뒤 예상

dataX = [] # 입력으로 사용될 Sequence Data / Input - Sequence Data
dataY = [] # 출력(타켓)으로 사용 / Output(target)
for i in range(0, int(len(y) - seq_length)):
    _x = x[i : i + seq_length]
    _y = y[i + seq_length - 1] # 다음 나타날 주가(정답) / after 5 days later (in _x), 'Close' price is the correct answer.
    dataX.append(_x) # dataX 리스트에 추가 / add to dataX's list
    dataY.append(_y) # dataY 리스트에 추가 / add to dataY's list
    print(_x[0:4])
    print('--------------')
    print(_y[0])
    print('--------------')
    
    

# 학습용/테스트용 데이터 생성
train_data_size = 0.67 # 입력하는 데이터 중에서 60퍼센트는 train 데이터로 사용
train_size = int(len(dataY) * train_data_size)
test_size = len(dataY) - train_size  # test 데이터: 4개

# 데이터를 잘라 학습용 데이터 생성
trainX = np.array(dataX[0:train_size])
trainY = np.array(dataY[0:train_size])

# 데이터를 잘라 테스트용 데이터 생성
testX = np.array(dataX[train_size:len(dataX)])
testY = np.array(dataY[train_size:len(dataY)])

print("="*50)
print(_x.shape)
print(_y.shape)
print(trainX.shape)
print(trainY.shape)
print("="*50)



## LSTM 모델

input_columns = 26

model = Sequential()
model.add(LSTM(64, input_dim=input_columns, input_length=seq_length, return_sequences=True, stateful=False))
model.add(LSTM(64, return_sequences=False, stateful=False))
model.add(Dense(1))
model.add(Activation('linear'))
# , dropout=0.2


# 모델 학습 설정 및 진행
keras.optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model.compile(loss='mean_squared_error', optimizer='adam')
model.summary()
print("="*50)
hist = model.fit(trainX, trainY, epochs=100, batch_size=1, verbose=1, validation_data=(testX, testY))


# 학습 과정 살펴보기
print(hist.history['loss'])
print(hist.history['val_loss'])
fig, loss_ax = plt.subplots()
acc_ax = loss_ax.twinx()
loss_ax.plot(hist.history['loss'], 'y', label='train loss')
loss_ax.plot(hist.history['val_loss'], 'r', label='val loss')
loss_ax.set_xlabel('epoch')
loss_ax.set_ylabel('loss')
loss_ax.legend(loc='upper left')
acc_ax.legend(loc='lower left')
plt.show()



# 예측
y_pred = model.predict(testX, batch_size=1, verbose=1) # , steps=5
plt.plot(testY, color = 'blue', label = 'Actual Stock Price')
plt.plot(y_pred, color = 'red', label = 'Predicted Stock Price')
plt.title('Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('Stock Price')
plt.legend()
plt.show()


# 모델 저장
model.save('lstm_stock_prediction_01.h5')

# cf. 모델 로드하는거!
#model = load_model('lstm_stock_prediction_01.h5')
'''

# 모델2 : 기업 1개로만 한거

In [ ]:
# np.random.seed(125)


# test = list_code_company_1[0].loc[:,list_code_company_1[0].columns[4:]]
# test1 = test.loc[:,"month":"거래대금(원)"]
# ### 데이터 전처리 / Data Preprocessing
# # finance_indicator = test.loc[:,"자산(백만원)":].astype(np.float) # 재부 관련 지표
# # month_indicator = test.loc[:,"month"].astype(np.float) # 월 관련 지표

# # indicator = test.values.astype(np.float)
# indicator = test.values.astype(np.float)
# indicator1 = test1.values.astype(np.float)



# scaler = MinMaxScaler(feature_range=(0, 1)) # 0~1 값으로 스케일링

# scaled_test = scaler.fit_transform(indicator) # 가격 관련 지표에 스케일링
# scaled_test1 = scaler.fit_transform(indicator1)


# #month_indicator = np_utils.to_categorical(month_indicator)

# #scaler_etc = MinMaxScaler(feature_range=(-1, 1)) # 0~1 값으로 스케일링
# #scaled_etc_indicator = scaler_etc.fit_transform(etc_indicator) # 추세 또는 거래량 활용 지표에 스케일링


# x = scaled_test1
# y = scaled_test[:, [25]] # 타켓은 1년뒤 종가이다 / target is 'Close' price
# #print(len(x)) 16개
# #print(len(y))16개


# # dataX와 dataY 생성 / Creating dataset 'dataX' and 'dataY'
# seq_length = 4 # 4분기 데이터를 이용해 1년뒤 예상

# dataX = [] # 입력으로 사용될 Sequence Data / Input - Sequence Data
# dataY = [] # 출력(타켓)으로 사용 / Output(target)
# for i in range(0, int(len(y) - seq_length)):
#     _x = x[i : i + seq_length]
#     _y = y[i + seq_length - 1] # 다음해 나타날 주가(정답) / after 5 days later (in _x), 'Close' price is the correct answer.
#     dataX.append(_x) # dataX 리스트에 추가 / add to dataX's list
#     dataY.append(_y) # dataY 리스트에 추가 / add to dataY's list
#     print(_x)


# # 학습용/테스트용 데이터 생성
# train_data_size = 0.67 # 입력하는 데이터 중에서 60퍼센트는 train 데이터로 사용
# train_size = int(len(dataY) * train_data_size)
# test_size = len(dataY) - train_size  # test 데이터: 4개

# # 데이터를 잘라 학습용 데이터 생성
# trainX = np.array(dataX[0:train_size])
# trainY = np.array(dataY[0:train_size])

# # 데이터를 잘라 테스트용 데이터 생성
# testX = np.array(dataX[train_size:len(dataX)])
# testY = np.array(dataY[train_size:len(dataY)])

# print("="*50)
# print(_x.shape)
# print(_y.shape)
# print(trainX.shape)
# print(trainY.shape)
# print("="*50)

# # 모델 불러오기
# model = load_model('lstm_stock_prediction_01.h5')

# ## LSTM 모델

# input_columns = 25

# # 최초로는 모델 만들어야 하나 이후에는 학습시킬것
# model = Sequential()
# model.add(LSTM(64, input_dim=input_columns, input_length=seq_length, return_sequences=True, stateful=False))
# model.add(LSTM(64, return_sequences=False, stateful=False))
# model.add(Dense(1))
# model.add(Activation('linear'))
# # , dropout=0.2



# # 모델 학습 설정 및 진행
# keras.optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
# model.compile(loss='mean_squared_error', optimizer='adam')
# model.summary()
# print("="*50)
# hist = model.fit(trainX, trainY, epochs=100, batch_size=1, verbose=1, validation_data=(testX, testY))


# # 학습 과정 살펴보기
# #     print(hist.history['loss'])
# #     print(hist.history['val_loss'])
# fig, loss_ax = plt.subplots()
# acc_ax = loss_ax.twinx()
# loss_ax.plot(hist.history['loss'], 'y', label='train loss')
# loss_ax.plot(hist.history['val_loss'], 'r', label='val loss')
# loss_ax.set_xlabel('epoch')
# loss_ax.set_ylabel('loss')
# loss_ax.legend(loc='upper left')
# acc_ax.legend(loc='lower left')
# plt.show()


# # 예측
# y_pred = model.predict(testX, batch_size=1, verbose=1) # , steps=5
# plt.plot(testY, color = 'blue', label = 'Actual Stock Price')
# plt.plot(y_pred, color = 'red', label = 'Predicted Stock Price')
# plt.title('Stock Price Prediction')
# plt.xlabel('Time')
# plt.ylabel('Stock Price')
# #plt.legend()
# plt.show()

# print(list_code_company_1[0]['회사명'].values[0])
# print('=====================================================')
# # 모델 저장
# model.save('lstm_stock_prediction_02_종가제외.h5')


# # cf. 모델 로드하는거!
# #model = load_model('lstm_stock_prediction_01.h5')

# 모델 2: for 문 - 모델 만들지 않고 로드해서 쓸것
  
### 기업 전부에 대해서 업데이트 시키는 모델

In [ ]:
np.random.seed(270)

for i in range(len(list_code_company_1)):

    test = list_code_company_1[i+24].loc[:,list_code_company_1[i+24].columns[4:]]
    test1 = test.loc[:,"month":"거래대금(원)"]
    ### 데이터 전처리 / Data Preprocessing
    # finance_indicator = test.loc[:,"자산(백만원)":].astype(np.float) # 재부 관련 지표
    # month_indicator = test.loc[:,"month"].astype(np.float) # 월 관련 지표

    # indicator = test.values.astype(np.float)
    indicator = test.values.astype(np.float) # 종가 뽑아내려고
    indicator1 = test1.values.astype(np.float) # 종가 제외한 피쳐



    scaler = MinMaxScaler(feature_range=(0, 1)) # 0~1 값으로 스케일링

    scaled_test = scaler.fit_transform(indicator) # 가격 관련 지표에 스케일링
    scaled_test1 = scaler.fit_transform(indicator1)


    #month_indicator = np_utils.to_categorical(month_indicator)

    #scaler_etc = MinMaxScaler(feature_range=(-1, 1)) # 0~1 값으로 스케일링
    #scaled_etc_indicator = scaler_etc.fit_transform(etc_indicator) # 추세 또는 거래량 활용 지표에 스케일링


    x = scaled_test1
    y = scaled_test[:, [25]] # 타켓은 1년뒤 종가이다 / target is 'Close' price
    #print(len(x)) 16개
    #print(len(y))16개


    # dataX와 dataY 생성 / Creating dataset 'dataX' and 'dataY'
    seq_length = 4 # 4분기 데이터를 이용해 1년뒤 예상

    dataX = [] # 입력으로 사용될 Sequence Data / Input - Sequence Data
    dataY = [] # 출력(타켓)으로 사용 / Output(target)
    for j in range(0, int(len(y) - seq_length)):
        _x = x[j : j + seq_length]
        _y = y[j + seq_length - 1] # 다음해 나타날 주가(정답) / after 5 days later (in _x), 'Close' price is the correct answer.
        dataX.append(_x) # dataX 리스트에 추가 / add to dataX's list
        dataY.append(_y) # dataY 리스트에 추가 / add to dataY's list
       


    # 학습용/테스트용 데이터 생성
    train_data_size = 0.67 # 입력하는 데이터 중에서 60퍼센트는 train 데이터로 사용
    train_size = int(len(dataY) * train_data_size)
    test_size = len(dataY) - train_size  # test 데이터: 4개

    # 데이터를 잘라 학습용 데이터 생성
    trainX = np.array(dataX[0:train_size])
    trainY = np.array(dataY[0:train_size])

    # 데이터를 잘라 테스트용 데이터 생성
    testX = np.array(dataX[train_size:len(dataX)])
    testY = np.array(dataY[train_size:len(dataY)])


    ## LSTM 모델

    input_columns = 25

    
    # 모델 로드
    model = load_model('./save/lstm_stock_prediction_02_종가제외.h5')


    # 모델 학습 설정 및 진행
    keras.optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
    model.compile(loss='mean_squared_error', optimizer='adam')
    model.summary()
    print("="*50)
    hist = model.fit(trainX, trainY, epochs=50, batch_size=1, verbose=1, validation_data=(testX, testY))


    # 학습 과정 살펴보기
    #     print(hist.history['loss'])
    #     print(hist.history['val_loss'])
    fig, loss_ax = plt.subplots()
    acc_ax = loss_ax.twinx()
    loss_ax.plot(hist.history['loss'], 'y', label='train loss')
    loss_ax.plot(hist.history['val_loss'], 'r', label='val loss')
    loss_ax.set_xlabel('epoch')
    loss_ax.set_ylabel('loss')
    loss_ax.legend(loc='upper left')
    acc_ax.legend(loc='lower left')
    plt.show()


    # 예측
    y_pred = model.predict(testX, batch_size=1, verbose=1) # , steps=5
    plt.plot(testY, color = 'blue', label = 'Actual Stock Price')
    plt.plot(y_pred, color = 'red', label = 'Predicted Stock Price')
    plt.title('Stock Price Prediction')
    plt.xlabel('Time')
    plt.ylabel('Stock Price')
    #plt.legend()
    plt.show()
    
    print(i+24,'번째')
    print(list_code_company_1[i+24]['회사명'].values[0])
    print('=====================================================')
    # 모델 저장
    model.save('./save/lstm_stock_prediction_02_종가제외.h5')
    time.sleep(0.5)

model.save('./save/lstm_stock_prediction_02_종가제외_완료.h5')