In [1]:
import pandas as pd
import numpy as np

In [7]:
finance_info = pd.read_excel('./data/5년치_재무_Deep.xlsx')

In [3]:
stock_info = pd.read_excel('./data/5년치_주가_Deep.xlsx')

In [4]:
finance_info.head(2)

,회사명,거래소코드,거래년월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),기타자본(백만원),기타포괄손익누계액(백만원),...,노동소득분배율(IFRS),자본분배율(IFRS),PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),PCR(최고)(IFRS),PCR(최저)(IFRS),PSR(최고)(IFRS),PSR(최저)(IFRS)
0,(주)BNK금융지주,138930,2013/12,3507652.0,2737860.0,966899.0,0.0,1638347.0,0.0,-189.0,...,9.14,90.86,54.40,41.28,1.24,0.94,51.66,39.19,31.64,24.00
1,(주)BNK금융지주,138930,2014/12,4539500.0,3550847.0,1171899.0,0.0,1945002.0,0.0,-1126.0,...,1.58,98.42,10.64,8.49,1.08,0.86,10.75,8.58,9.37,7.48

In [5]:
stock_info.head(2)

,회사명,거래소코드,거래년월,최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
0,(주)BNK금융지주,138930,2013/03,16900.0,14750.0,15400.0,15300.0,13476686.0,2.074446e+09
1,(주)BNK금융지주,138930,2013/06,16200.0,13150.0,14616.0,14450.0,13221673.0,1.916348e+09

In [6]:
finance_info_value = finance_info[finance_info.columns[:31]]
# 비율값을 제외한 재무정보
# 비율값에는 노동소득배분율, 자본배분율, PER, PBR 등이 있음

In [7]:
finance_stock = pd.merge(finance_info_value, stock_info, on = ['회사명','거래소코드','거래년월'],how='outer')

In [8]:
len(finance_info), len(stock_info), len(finance_stock)

(4412, 3772, 4469)

In [9]:
finance_stock[finance_stock['자산(백만원)'].isna() == True]

,회사명,거래소코드,거래년월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),기타자본(백만원),기타포괄손익누계액(백만원),...,주당계속영업이익(원),주당순손익(원),희석주당계속영업이익(원),희석주당순손익(원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
3277,에이치디씨현대산업개발(주),294870,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3278,에이치디씨현대산업개발(주),294870,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,효성중공업(주),298040,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4386,효성중공업(주),298040,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4412,(주)동서,26960,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4413,(주)동서,26960,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4414,(주)동서,26960,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4415,(주)비지에프,27410,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4416,(주)셀트리온,68270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4417,(주)셀트리온,68270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4418,(주)셀트리온,68270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4419,(주)셀트리온,68270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4420,(주)셀트리온,68270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421,(주)이노션,214320,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,(주)이노션,214320,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,(주)카카오,35720,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,(주)카카오,35720,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,(주)카카오,35720,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4426,(주)카카오,35720,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4427,DB손해보험(주),5830,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57800.0,52900.0,55015.0,56200.0,2431294.0,1.336461e+09
4428,DB손해보험(주),5830,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57700.0,45950.0,53437.0,52000.0,3689523.0,1.925205e+09
4429,넷마블(주),251270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4430,넷마블(주),251270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4431,넷마블(주),251270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4432,넷마블(주),251270,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4433,두산밥캣(주),241560,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4434,두산밥캣(주),241560,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4435,메리츠종합금융증권(주),8560,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1870.0,1715.0,1791.0,1750.0,17381969.0,3.121350e+08
4436,메리츠종합금융증권(주),8560,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2310.0,2055.0,2214.0,2160.0,12209521.0,2.686227e+08
4437,미래에셋대우(주),6800,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9300.0,8610.0,8856.0,8900.0,14241370.0,1.261055e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4439,삼성바이오로직스(주),207940,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4440,삼성바이오로직스(주),207940,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4441,삼성바이오로직스(주),207940,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4442,삼성생명보험(주),32830,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,105000.0,95600.0,100620.0,104000.0,3202556.0,3.234084e+09
4443,삼성생명보험(주),32830,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108500.0,99100.0,103400.0,102000.0,10258842.0,1.044454e+10
4444,삼성에스디에스(주),18260,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4445,삼성증권(주),16360,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45300.0,43550.0,44203.0,44050.0,3204715.0,1.416055e+09
4446,삼성증권(주),16360,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45050.0,40850.0,43632.0,44300.0,6297345.0,2.741647e+09
4447,삼성카드(주),29780,2014/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52600.0,46300.0,49774.0,52200.0,1923071.0,9.600696e+08
4448,삼성화재해상보험(주),810,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,261500.0,234000.0,251325.0,259000.0,1417855.0,3.561811e+09
4449,삼성화재해상보험(주),810,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,269500.0,247500.0,259053.0,257500.0,3138494.0,8.160800e+09
4450,에스케이케미칼(주),285130,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4451,에이치디씨현대산업개발(주),294870,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4452,엔에이치투자증권(주),5940,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10600.0,9450.0,10051.0,9590.0,12612248.0,1.257681e+09
4453,엔에이치투자증권(주),5940,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8930.0,8350.0,8696.0,8730.0,8961116.0,7.787861e+08
4454,엘아이지넥스원(주),79550,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4455,엘아이지넥스원(주),79550,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456,일양약품(주),7570,2015/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58200.0,45200.0,50898.0,49000.0,3812439.0,1.943025e+09
4457,일양약품(주),7570,2016/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54900.0,49650.0,51009.0,50000.0,4539389.0,2.337194e+09
4458,일양약품(주),7570,2016/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,66300.0,47300.0,56540.0,57700.0,20323458.0,1.186641e+10
4459,일양약품(주),7570,2016/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56300.0,46100.0,50192.0,49250.0,4701674.0,2.425794e+09
4460,쿠쿠홀딩스(주),192400,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4461,한국콜마(주),161890,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28150.0,26000.0,27208.0,27300.0,3313003.0,8.987354e+08
4462,한국콜마(주),161890,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49900.0,39250.0,43908.0,48050.0,3549691.0,1.572255e+09
4463,한국투자금융지주(주),71050,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,41450.0,38000.0,39203.0,40800.0,1331674.0,5.212837e+08
4464,한국투자금융지주(주),71050,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,41000.0,37000.0,39632.0,40200.0,1621754.0,6.416594e+08
4465,한화생명보험(주),88350,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7630.0,6820.0,7193.0,7590.0,22968756.0,1.639346e+09
4466,한화생명보험(주),88350,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6540.0,6270.0,6394.0,6460.0,9466696.0,6.049217e+08
4467,현대해상화재보험(주),1450,2013/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,32700.0,30100.0,31305.0,32500.0,4155845.0,1.298822e+09
4468,현대해상화재보험(주),1450,2014/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,29600.0,28300.0,28997.0,28850.0,3613265.0,1.045334e+09

In [10]:
finance_stock.isna().sum()

회사명                    0
거래소코드                  0
거래년월                   0
자산(백만원)               61
자본(백만원)               61
자본금(백만원)              61
신종자본증권(백만원)           61
자본잉여금(백만원)            61
기타자본(백만원)             61
기타포괄손익누계액(백만원)        61
이익잉여금(백만원)            61
부채(백만원)               61
판매비와관리비(백만원)         161
영업손익(백만원)             81
영업손익(백만원).1          366
기타이익(백만원)             81
기타손실(백만원)             81
법인세비용차감전순이익(백만원)      81
법인세비용(백만원)            81
종속회사매수일전순손익(백만원)    3228
처분된종속회사순손익(백만원)     3228
계속영업이익(백만원)           81
중단영업이익(백만원)           81
중단영업손익법인세효과(백만원)      81
당기순이익(백만원)            81
기타포괄손익(백만원)           81
총포괄손익(백만원)            81
주당계속영업이익(원)           81
주당순손익(원)              81
희석주당계속영업이익(원)         81
희석주당순손익(원)          2363
최고가(원)               734
최저가(원)               734
산술평균(원)              734
종가(원)                734
거래량(주)               734
거래대금(원)              734
dtype: int64

In [11]:
# stock_finance.columns = ['회사명', '거래소코드', '거래년월', '자산', '자본',
#        '이익잉여금', '당기순손익', '미처분이익잉여금', '부채', '최고가', '최저가',
#        '산술평균', '종가', '거래량', '거래대금']

In [12]:
finance_stock.columns

Index(['회사명', '거래소코드', '거래년월', '자산(백만원)', '자본(백만원)', '자본금(백만원)', '신종자본증권(백만원)',
       '자본잉여금(백만원)', '기타자본(백만원)', '기타포괄손익누계액(백만원)', '이익잉여금(백만원)', '부채(백만원)',
       '판매비와관리비(백만원)', '영업손익(백만원)', '영업손익(백만원).1', '기타이익(백만원)', '기타손실(백만원)',
       '법인세비용차감전순이익(백만원)', '법인세비용(백만원)', '종속회사매수일전순손익(백만원)', '처분된종속회사순손익(백만원)',
       '계속영업이익(백만원)', '중단영업이익(백만원)', '중단영업손익법인세효과(백만원)', '당기순이익(백만원)',
       '기타포괄손익(백만원)', '총포괄손익(백만원)', '주당계속영업이익(원)', '주당순손익(원)', '희석주당계속영업이익(원)',
       '희석주당순손익(원)', '최고가(원)', '최저가(원)', '산술평균(원)', '종가(원)', '거래량(주)',
       '거래대금(원)'],
      dtype='object')

# 회사명과 거래소코드를 리스트에 담음

In [13]:
list_company = list(set(finance_stock['회사명']))

In [14]:
list_code = list(set(finance_stock['거래소코드']))

# 피쳐값 선정 함수

In [15]:
def drop_feature(df):
    
    
#     결측값 처리    
#     df = df.fillna(0)
    
    
    #삭제하고자 하는 열을 입력하면 됨.
    # 1은 열을 제거한다는 뜻
    
    df = df.drop('영업손익(백만원).1',1) # 중복 열 
    
    df = df.drop('종속회사매수일전순손익(백만원)',1) # 값이 대부분 0 인 열 
    
    df = df.drop('처분된종속회사순손익(백만원)',1) # 값이 대부분 0 인 열
    
    df = df.drop('희석주당계속영업이익(원)',1) # 값이 대부분 0 인 열
    
    df = df.drop('희석주당순손익(원)',1) # 값이 대부분 0 인 열
    

    return df
# 중단영업이익(백만원) 중단영업손익법인세효과(백만원) => 값이 대부분 0이라서 엑셀데이터에서 삭제중
# 다른 열도 엑셀데이터에서 삭제중

In [16]:
drop_finance_stock = drop_feature(finance_stock)

In [17]:
drop_finance_stock.columns

Index(['회사명', '거래소코드', '거래년월', '자산(백만원)', '자본(백만원)', '자본금(백만원)', '신종자본증권(백만원)',
       '자본잉여금(백만원)', '기타자본(백만원)', '기타포괄손익누계액(백만원)', '이익잉여금(백만원)', '부채(백만원)',
       '판매비와관리비(백만원)', '영업손익(백만원)', '기타이익(백만원)', '기타손실(백만원)',
       '법인세비용차감전순이익(백만원)', '법인세비용(백만원)', '계속영업이익(백만원)', '중단영업이익(백만원)',
       '중단영업손익법인세효과(백만원)', '당기순이익(백만원)', '기타포괄손익(백만원)', '총포괄손익(백만원)',
       '주당계속영업이익(원)', '주당순손익(원)', '최고가(원)', '최저가(원)', '산술평균(원)', '종가(원)',
       '거래량(주)', '거래대금(원)'],
      dtype='object')

In [18]:
# 거래소코드별로 list에 담음
list_code_company = []
for i in range(len(list_code)):
    a2 = drop_finance_stock[drop_finance_stock['거래소코드'] == list_code[i]]
    a2 = a2.sort_values('거래년월')
    list_code_company.append(a2)

In [19]:
len(list_code_company) # 201개임

201

# 201개 주식 중에서 자료가 부족한 주식 찾기

In [20]:
find_missing = []
delete_code = []

for i in range(len(list_code_company)):
    if len(list_code_company[i]) != 23: # 행 갯수가 23여야 함 - 우리 분석기간(23분기)
        #print(i)
        delete_code.append(i)
        find_missing.append(list_code_company[i])

# 왠지 for 문 안써도 바로 구할 수 있을 거 같음

In [21]:
find_missing[0].head(2)


# 원래 데이터는 22개임
# 우리은행 - 원래 데이터는 오류(NaN 값 열 하나 더 들어감)있었지만 원본데이터에서 지워버림 - 앞으로는 오류 없을거임


#수정된 데이터에서 21개임

# 0. 만도 - 2014년 9월부터 코스피200에 편입 - 지우자
# 1. 효성 - 2018년 6월부터 편입, 자료 적음 - 지울것
# 2. 삼성바이오로직스 - 나중에 편입, 자료 적음 - 지울것
# 3. 삼성물산 - NaN 행 1개 있고, 13년 3월,6월 데이터 없음 - 주가가 존재안함 - 원본에서 처리함 - 그냥 지우자
# 4. 셀트리온 - 주가데이터가 없음 - 지울것
# 5. 엘아이지넥스원 - 주가데이터 부족 - 지울것
# 6. 오리온 - 주가데이터 부족 - 지울것
# 7. 비지에프리테일 - 주가데이터 부족 - 지울것
# 8. 비지에프 - 주가데이터 부족 - 지울것

# 9. 이노션 - 편입된지 얼마안됨 - 데이터부족 - 지울것
# 10. 코스맥스 - 2018년데이터가 빠져있음 - 채울수는 있으나 일단은 지울것
# 11. 동서 - 데이터부족 - 지울것
# 12. 삼성에스디에스 - 데이터부족 - 지울것
# 13. 넷마블 - 데이터부족 - 지울것
# 14. 카카오 - 다음에서 카카오로 사명 변경으로 자료가 부족 - 일단은 지울것 - Daun데이터는 존재하기에 담에 채우자
# 15. 쿠쿠홀딩스 - 2018년 주가데이터 부족  - 일단 지울것 - 자료는 있기에 담에 채우자
# 16. 종근당 - 2018년 주가데이터 부족  - 일단 지울것 - 자료는 있기에 담에 채우자
# 17. 두산밥캣 - 주가데이터 부족 - 지울것
# 18. 에스케이케미칼 - 주가데이터 부족 - 지울것
# 19. 에이치디씨현대산업개발 - 주가데이터 부족 - 지울것
# 20. 현대중공업지주 - 주가데이터 부족 - 지울것




#find_missing[20]

,회사명,거래소코드,거래년월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),기타자본(백만원),기타포괄손익누계액(백만원),...,기타포괄손익(백만원),총포괄손익(백만원),주당계속영업이익(원),주당순손익(원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
376,(주)만도,204320,2014/09,2624259.0,846047.0,46957.0,0.0,728058.0,0.0,63731.0,...,-27030.0,-19728.0,777.0,777.0,NaN,NaN,NaN,NaN,NaN,NaN
368,(주)만도,204320,2014/12,2695848.0,819684.0,46957.0,0.0,720764.0,-5233.0,28222.0,...,-42612.0,-13836.0,3072.0,3072.0,197500.0,179000.0,188571.0,183500.0,1108358.0,2.086231e+09

In [22]:
list_code_company_revise = []

# 여기서도 그냥 for문 안써도 바로 지우는 함수 있을거같은데
# 일단 del에서 list로 못 지운다고 하고
# del 써버리면 순서가 바뀌어서 번호로 못지움
# 방법을 찾아보자

for i in range(len(list_code_company)):
    if i in delete_code:
        continue
    else:
        list_code_company_revise.append(list_code_company[i])
        
list_code_company = list_code_company_revise # 업데이트함

In [23]:
len(list_code_company) # 201개 데이터에서 21개의 데이터를 삭제해서 180개 됨

179

# 남은 180개의 주식 중 결측치 채우기

In [24]:
nan_stock = [] # 결측치 주식을 담음
nan_stock_number = [] # list_code_company 에서의 번호를 넣으려고 함

for i in range(len(list_code_company)):
    if list_code_company[i].isna().sum().sum() == 0:
        continue
    else:
        nan_stock.append(list_code_company[i].isna().sum())
        nan_stock_number.append(i)

In [25]:
len(nan_stock_number) # 전부 결측치 존재함

179

In [26]:
# 대부분 18년 주가 자료가 부족해서 na 값의 합이 18 임
nan_stock[0]

회사명                 0
거래소코드               0
거래년월                0
자산(백만원)             0
자본(백만원)             0
자본금(백만원)            0
신종자본증권(백만원)         0
자본잉여금(백만원)          0
기타자본(백만원)           0
기타포괄손익누계액(백만원)      0
이익잉여금(백만원)          0
부채(백만원)             0
판매비와관리비(백만원)        0
영업손익(백만원)           0
기타이익(백만원)           0
기타손실(백만원)           0
법인세비용차감전순이익(백만원)    0
법인세비용(백만원)          0
계속영업이익(백만원)         0
중단영업이익(백만원)         0
중단영업손익법인세효과(백만원)    0
당기순이익(백만원)          0
기타포괄손익(백만원)         0
총포괄손익(백만원)          0
주당계속영업이익(원)         0
주당순손익(원)            0
최고가(원)              3
최저가(원)              3
산술평균(원)             3
종가(원)               3
거래량(주)              3
거래대금(원)             3
dtype: int64

In [27]:
# 대부분 18년 주가 자료가 부족해서 na 값의 합이 18 임
# 그래서 18이 아닌 값들을 찾아서 결측치 처리 할 것임

for i in range(len(nan_stock)):
    if nan_stock[i].sum() != 18:
        print(i," ", nan_stock[i].sum())
    else:
        continue
        

# test 폴더 안에 데이터 셋 있음!! 채워넣으면 됨!
        
# 정배       
# 121 현대로템 - 주식

# 17 삼성생명보험 - 재무
# 25 삼성카드 - 재무
# 29 한국콜마 - 재무
# 45 미래에셋대우 - 재무
# 67 DB손해보험 - 재무
# 101 한화생명보험 - 재무
# 103 삼성화재해상보험  - 재무

#===========================

# 정연
# 9 우리은행 - 주식부분이 문제

# 107 엔에이치투자증권 - 재무
# 123 메리츠종합금융증권 - 재무  
# 132 한국투자금융지주 - 재무
# 137 일양약품 - 재무  
# 150 현대해상화재보험 - 재무  
# 168 삼성증권 - 재무

# 해결함 - 136 동아에스티  - 주식 - 13년 3월에 주식상장 안되어 있었음 - 재무데이터를 삭제하자! - 완료

9   60
17   80
25   41
29   64
45   64
67   80
101   80
103   80
107   64
121   36
123   64
132   64
137   110
150   80
168   64

In [32]:

# 해결함 - 137 동아에스티  - 주식 - 13년 3월에 주식상장 안되어 있었음 - 재무데이터를 삭제하자! - 완료
ii = 150   
print(list_code_company[ii]['회사명'].values[0])
list_code_company[ii].isna() # 위의 앞의 숫자들을 집어 넣으면 됨(9,17,25,29,45....)

현대해상화재보험(주)

,회사명,거래소코드,거래년월,자산(백만원),자본(백만원),자본금(백만원),신종자본증권(백만원),자본잉여금(백만원),기타자본(백만원),기타포괄손익누계액(백만원),...,기타포괄손익(백만원),총포괄손익(백만원),주당계속영업이익(원),주당순손익(원),최고가(원),최저가(원),산술평균(원),종가(원),거래량(주),거래대금(원)
4365,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4371,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4380,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4467,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,False,False
4369,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4468,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,False,False,False,False,False,False
4375,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4364,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4370,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4381,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4376,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4368,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4374,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4382,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4377,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4366,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4372,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4383,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4367,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4373,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4384,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4379,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True

In [29]:
nan_stock[9]

회사명                  0
거래소코드                0
거래년월                 0
자산(백만원)              0
자본(백만원)              0
자본금(백만원)             0
신종자본증권(백만원)          0
자본잉여금(백만원)           0
기타자본(백만원)            0
기타포괄손익누계액(백만원)       0
이익잉여금(백만원)           0
부채(백만원)              0
판매비와관리비(백만원)         0
영업손익(백만원)            0
기타이익(백만원)            0
기타손실(백만원)            0
법인세비용차감전순이익(백만원)     0
법인세비용(백만원)           0
계속영업이익(백만원)          0
중단영업이익(백만원)          0
중단영업손익법인세효과(백만원)     0
당기순이익(백만원)           0
기타포괄손익(백만원)          0
총포괄손익(백만원)           0
주당계속영업이익(원)          0
주당순손익(원)             0
최고가(원)              10
최저가(원)              10
산술평균(원)             10
종가(원)               10
거래량(주)              10
거래대금(원)             10
dtype: int64

# 정규화 하는 중

In [ ]:
len(list_a2)

In [ ]:
list_a2[0]
# list_a2[0].iloc[0,:] # 1행
# list_a2[0].iloc[:,0] # 1열

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mmscaler = MinMaxScaler()

scaling = []
for i in range(len(list_a2)): #len(list_a2) = 197
    a = mmscaler.fit_transform(list_a2[i])
    scaling.append(a)

In [ ]:
scaling[0][0] # 거래소코드 자산 자본 이익잉여금 당기순손익 미처분이익잉여금 부채 산술평균 거래량 거래대금

In [ ]:
scaling[0][1]

In [ ]:
scaling[0][1] - scaling[0][0] # 뒤에서 앞을 빼야한다

In [ ]:
# 정규화 한거 전부 담음

# 0:거래소코드 1:자산 2:자본 3:이익잉여금 4:당기순손익 5:미처분이익잉여금 6:부채 7:산술평균 8:거래량 9:거래대금

list_a3 = []
for i in range(len(list_a2)):
    for j in range(len(list_a2[i])-1):
        a = scaling[i][j+1] - scaling[i][j]
        list_a3.append(a)

# 주가 상승=> 1 //  주가 하락 => 0 으로 변환

In [ ]:
for i in range(len(list_a3)): # len(list_a3) : 3511
    if list_a3[i][7] <= 0:
        list_a3[i][7] = 0
    else:
        list_a3[i][7] = 1

# 추후에 상승률을 기준으로 세금을 고려해서 1.03% 이상 상승할때에만 주가 상승으로 반영하자
# 일단은 되는지만 보자

In [ ]:
list_a3[0] # 주가가 하락해서 0으로 변경됨

In [ ]:
df_scaling = pd.DataFrame(list_a3)

In [ ]:
df_scaling.head(2)

In [ ]:
df_x = df_scaling.drop([0,7],1) # 종목코드, 주가변화 열 제거
df_x.head()

In [ ]:
df_y = df_scaling[7] # 주가변화 열 추출
df_y = df_y.astype(int) # 원핫인코딩 떄문에 인트로 변경
df_y.head()

# 샤비어 초기화 함수

In [ ]:
def xavier_init(n_inputs, n_outputs, uniform=True):
    if uniform:
        # 6 was used in the paper.
        init_range = tf.sqrt(6.0 / (n_inputs + n_outputs))
        return tf.random_uniform_initializer(-init_range, init_range)
    else:
        # 3 gives us approximately the same limints as above since this repicks
        # values greater than 2 standard deviations from the mean.
        stddev = tf.sqrt(3.0 / (n_inputs + n_outputs))
        return tf.truncated_normal_initializer(stddev=stddev)

# 레이어 추가 안한 모델

In [ ]:
'''
# Review : Learning rate and Evaluation
import tensorflow as tf
import random
import matplotlib.pyplot as plt

tf.reset_default_graph()

x_data = df_x
sess = tf.Session()
y_data = tf.one_hot(df_y, depth = 2).eval(session=sess)
y_data = tf.reshape(y_data, shape=[-1,2]).eval(session=sess)
print(y_data)
tf.set_random_seed(888)  # reproducibility


# parameters
learning_rate = 0.001
placeholder_num = len(df_x.columns)

X = tf.placeholder(tf.float32, [None, placeholder_num])
Y = tf.placeholder(tf.float32, [None, 2])

W1 = tf.get_variable("W1", shape=[placeholder_num, 2],
                     initializer=xavier_init(placeholder_num, 2))
b1 = tf.Variable(tf.random_normal([2]))

hypothesis = tf.matmul(X, W1) + b1

# define cost/loss & optimizer
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
'''

In [ ]:
'''
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(10000):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data})
    if step % 100 == 0 or step < 100:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))
'''

# 레이어 추가 모델

In [ ]:

# Review : Learning rate and Evaluation
import tensorflow as tf
import random
import matplotlib.pyplot as plt

tf.reset_default_graph()

placeholder_num = len(df_x.columns)


x_data = df_x
sess = tf.Session()
y_data = tf.one_hot(df_y, depth = 2).eval(session=sess)
y_data = tf.reshape(y_data, shape=[-1,2]).eval(session=sess)
print(y_data)
tf.set_random_seed(777)  # reproducibility



# parameters
learning_rate = 0.001



X = tf.placeholder(tf.float32, [None, placeholder_num])
Y = tf.placeholder(tf.float32, [None, 2])
keep_prob = tf.placeholder(tf.float32)


W1 = tf.get_variable("W1", shape=[placeholder_num, 32], initializer=tf.contrib.layers.xavier_initializer())
b1 = tf.Variable(tf.random_normal([32]))
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)
L1 = tf.nn.dropout(L1, keep_prob=keep_prob)


W2 = tf.get_variable("W2", shape=[32, 64], initializer=tf.contrib.layers.xavier_initializer())
b2 = tf.Variable(tf.random_normal([64]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)
L2 = tf.nn.dropout(L2, keep_prob=keep_prob)

W3 = tf.get_variable("W3", shape=[64, 64], initializer=tf.contrib.layers.xavier_initializer())
b3 = tf.Variable(tf.random_normal([64]))
L3 = tf.nn.relu(tf.matmul(L2, W3) + b3)
L3 = tf.nn.dropout(L3, keep_prob=keep_prob)


W4 = tf.get_variable("W4", shape=[64, 64], initializer=tf.contrib.layers.xavier_initializer())
b4 = tf.Variable(tf.random_normal([64]))
L4 = tf.nn.relu(tf.matmul(L3, W4) + b4)
L4 = tf.nn.dropout(L4, keep_prob=keep_prob)


W5 = tf.get_variable("W5", shape=[64, 2], initializer=tf.contrib.layers.xavier_initializer())
b5 = tf.Variable(tf.random_normal([2]))
L5 = tf.nn.relu(tf.matmul(L4, W5) + b5)

hypothesis = tf.matmul(L4, W5) + b5


# define cost/loss & optimizer
cost = tf.reduce_mean(tf.square(hypothesis - y_data))
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.01)
correct_prediction = tf.equal(tf.argmax(hypothesis, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

In [ ]:
# Launch the graph in a session.
sess = tf.Session()

# Initializes global variables in the graph.
sess.run(tf.global_variables_initializer())

for step in range(10001):
    sess.run(optimizer, feed_dict={X: x_data, Y: y_data, keep_prob: 0.7})
    if step % 1000 == 0 or step < 100:
        loss, acc = sess.run([cost, accuracy], feed_dict={
                             X: x_data, Y: y_data, keep_prob: 0.7})
        print("Step: {:5}, \t Loss: {:.3f}, \t Acc: {:.2%}".format(
            step, loss, acc))