In [1]:
from bs4 import BeautifulSoup

In [4]:
from selenium import webdriver

In [5]:
import re

In [80]:
import time

In [12]:
driver_path = "driver/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

In [13]:
url_page = 'https://finance.yahoo.com/quote/005930.KS/history?period1=1389106800&period2=1546873200&interval=1wk&filter=history&frequency=1wk'
driver.get(url_page)

In [20]:
driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[2]/span[2]/a/span').click()

In [91]:
import pandas as pd
import numpy as np

In [108]:
a = pd.read_csv('stockcode.csv')
a.head()

     code  company
0    6840    AK홀딩스
1   27410      BGF
2  282330   BGF리테일
3  138930  BNK금융지주
4    1040       CJ

In [109]:
len(a) # 201개 종목임

201

In [110]:
list_code = []
list_company = []
for i in range(len(a)):
    list_code.append(str(a['code'][i]).zfill(6))
    list_company.append(a['company'][i])

In [111]:
list_code[0]

'006840'

In [112]:
driver_path = "driver/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

for i in range(len(list_code)):
    url_page = 'https://finance.yahoo.com/quote/%s.KS/history?period1=1388502000&period2=1546182000&interval=1wk&filter=history&frequency=1wk' % list_code[i]
    driver.get(url_page)
    time.sleep(2)
    driver.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[2]/span[2]/a/span').click()
    time.sleep(2)